@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


* {
  margin: 0;
  padding: 0;
  bottom: 0;
}

body {
  padding: 5%;
  background-color: rgb(66, 243, 111);

  animation: writer 2s steps(20) alternate;
}

h1 {
  font-size: larger;
  font-family: 'Noto Sans JP', sans-serif;
}